{% extends "base.html" %}
{% block content %}
    <div class="pure-menu pure-menu-horizontal"id="manager-menu">

    <ul class="pure-menu-list"id="manager-menu">
        <li class="pure-menu-item"><a href="{{ url_for('readersearch') }}" class="pure-menu-link">人员查询</a> </li>
         <li class="pure-menu-item"><a href="{{ url_for('booksearch') }}" class="pure-menu-link">库室查询</a> </li>
         <li class="pure-menu-item"><a href="{{ url_for('groupsearch') }}" class="pure-menu-link">小组查询</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('addbook') }}" class="pure-menu-link">增添库室</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('deletebook') }}" class="pure-menu-link">删除库室</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('bookalterselect') }}" class="pure-menu-link">修改库室</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('addreader') }}" class="pure-menu-link">增添人员</a> </li>
        <li class="pure-menu-item"><a href="{{ url_for('deletereader') }}" class="pure-menu-link">删除人员</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('readeralterselect') }}" class="pure-menu-link">修改人员</a></li>
  <li class="pure-menu-item"><a href="{{ url_for('addgroup') }}" class="pure-menu-link">增加小组</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('deletegroup') }}" class="pure-menu-link">删除小组</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('groupalterselect') }}" class="pure-menu-link">修改小组</a></li>
        <li class="pure-menu-item"><a href="" class="pure-menu-link">库室借还</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('register')}}" class="pure-menu-link">人员实时位置</a></li>
    </ul>
</div>
<table class="pure-table">
<thead>
<tr>
    <th>编号</th>
    <th>库室名</th>
    <th>空间</th>
    <th>借用小组编号</th>
    <th>可借数量</th>
    <th>维护员</th>
    <th>负责人</th>
    <th>摘要</th>
    <th>温度</th>
    <th>湿度</th>
    <th>监控</th>

</tr>
</thead>
<tbody>
{% for r in readers %}
<tr align="center">
<td><a>{{ r.id }}</a></td>
<td>{{ r.name }}</td>
<td>{{ r.count}}</td>
    <td>{{ r. style_num }}</td>
    <td>{{ r.available_count }}</td>
<td>{{ r.press }}</td>
<td>{{ r.author}}</td>
<td>{{ r.summary}}</td>
<td>{{ r.temperture }}</td>
<td>{{ r.humidity }}</td>
<td ><a href={{ r.url }}>查看</a></td>


</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
